* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body{
      font-family: sans-serif;
    }
    /*UIILITY*/
    .container{
        width: 1200px;
        margin: 0 auto;
    
    }
    
    .clearfix::after{
        content: '';
        display: table;
        clear: both;
    }
    
    /*HEADER*/
    header{
        height: 120px;
        background: pink;
        margin-bottom: 40px;
    }
    
    /*YOGA IMAGE*/
    .yoga{
        height: 500px;
        background: gold;
        margin-bottom: 40px;
    }
    
    /*LEADERSHIP*/
    .leadership{
        margin-bottom: 20px;
        background: dodgerblue;
    
    }
    
    .leadership .heading{
        height: 60px;
        background: lightblue;
        margin-bottom: 40px;
    }
    .leadership .blocks .blo{
        float: left;
        width: 20%;
        height: 600px;
        margin-bottom: 20px;
        background: lightblue;
    }
    
    .leadership .blocks .blo:nth-child(2){
        width: 56%;
        margin: 0 2%;
    }
     footer{
         height: 60px;
         background: violet;
     }
    




















 





 




